rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regla que permite el acceso de lectura y escritura a todas las colecciones y documentos
    match /{document=**} {
      allow read, write: if true; // Permitir tanto lectura como escritura
    }
  }
}
